<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AStarNavigator" version="1.0.63" targetFramework="net462" />
  <package id="jose-jwt" version="2.3.0" targetFramework="net462" />
  <package id="LibNoise" version="0.2" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net45" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.2.2" targetFramework="net462" />
  <package id="MiNET" version="1.0.1534" targetFramework="net462" />
  <package id="MiNET.fnbt" version="0.6.9" targetFramework="net462" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="SharpAvi" version="2.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net462" />
</packages>